.formFilter {
    max-width: 924px;
    background-color: #ffffff;
    border-radius: 14px;
    margin: 0 auto;
    margin-top: 84px;
}

.inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    gap: 16px;
}

.label {
    display: block;
    margin-bottom: 8px;
    line-height: 1.33;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--gray);
}

.field,
.fieldGroup {
    display: flex;
    flex-direction: column;
}

.selectWrapper {
    position: relative;
}

.select {
    min-width: 204px;
    height: 44px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--main);

    padding: 0 40px 0 16px;
    border-radius: 12px;
    background-color: var(--inputs);
    outline: none;
    border: 1px solid transparent;
    appearance: none;
}

.arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    width: 16px;
    height: 16px;
    fill: #121417;
    stroke: #121417;
    transform: translateY(-50%) rotate(0deg);
    transition: transform .2s ease;
    pointer-events: none;
}

.arrowUp {
    transform: translateY(-50%) rotate(180deg);
}

.fieldGroup {
    flex: 1;
    width: 320px;
}

.mileageRow {
    display: flex;
    align-items: center;
    background-color: var(--inputs);
    overflow: hidden;
    border-radius: 12px 0 0 12px;
    height: 44px;
}

.input {
    flex: 1;
    padding: 0 16px;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--main);
    background-color: transparent;
    width: 160px;
}

.input::placeholder {
    color: var(--main);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mileageDivider {
    width: 1px;
    height: 32px;
    background-color: var(--gray-light);
}

.searchBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    height: 44px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    white-space: nowrap;
    min-width: 156px;
    background-color: var(--button);
    color: var(--white);
}

.searchBtn:hover {
    background-color: var(--button-hover);
}
