* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
}

:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}