.home {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("/images/carHome.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 436px;
}

.title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: var(--white);
    margin-bottom: 16px;
}

.text{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: var(--white);
    margin-bottom: 40px;
}

.button{
    border-radius: 12px;
    padding: 12px 88px;
    width: 276px;
    height: 44px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--white);
    border: none;
    cursor: pointer;
    background-color: var(--button);
}

.button:hover{
    background-color: var(--button-hover);
}