.header {
    background-color: var(--badges);
    border-bottom: 1px solid var(--badges);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    max-width: 1200px;
}

.navigation {
    display: flex;
    gap: 32px;
}

.headerLink {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: var(--main);
}

.headerLink:hover {
    color: var(--button-hover);
}