.header {
    background-color: var(--badges);
    border-bottom: 1px solid var(--badges);
    padding: 26px 0;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 32px;
}

.headerLink {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--main);
}

.active {
    color: var(--button-hover);
}