.wrapper {
    max-width: 640px;
    padding: 32px;
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    background-color: var(--white);
    margin-top: 40px;
}

.title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
    margin-bottom: 8px;
}

.subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--gray);
    margin-bottom: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 576px;
}

.input {
    width: 100%;
    padding: 14px 20px;
    border-radius: 12px;
    border: none;
    background-color: var(--inputs);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--gray);
}

.textarea {
    height: 88px;
    resize: none;
}

.input:focus,
.textarea:focus {
    outline: none;
    box-shadow: none;
}

.button {
    width: 156px;
    height: 44px;
    margin: 0 auto;
    background-color: var(--button);
    border: none;
    border-radius: 12px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: var(--white);
    margin-top: 24px;
}