.card {
    list-style: none;
    width: 276px;
    min-height: 100%;
    background-color: #ffffff;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    width: 276px;
    height: 268px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 16px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 14px;
}

.heartBtn {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.heartIcon {
    width: 16px;
    height: 16px;
    display: block;
}

.title {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    font-family: var(--font-family);
    color: var(--main);
    margin-bottom: 8px;
}

.model {
    color: #3470ff;
}

.rentalPrice {
    margin-left: auto;
    font-weight: 600;
}

.details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    max-width: 230px;
    max-height: 64px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    margin-bottom: 28px;
}

.detailsItem {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 400;
    color: #8d8d8d;
    white-space: nowrap;
}

.detailsItem:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    margin-left: 6px;
    vertical-align: middle;
    background-color: #dce3e8;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    width: 100%;
    height: 44px;
    border-radius: 12px;
    background-color: var(--button);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    text-align: center;
}

.button:hover {
    background-color: var(--button-hover);
}